.form {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 50px;
    height: 30px;
    border-radius:30px;
    border: 1px solid black;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;

}